include ./components/main-slider.pug
include ./components/presentation.pug
include ./components/target-audience.pug
include ./components/type-oils.pug
include ./components/form.pug
include ./components/comparison.pug