footer.eko__section.footer
  .container
    .footer__content
      .footer__row
        .footer__col
          .footer__logo-wrap
            a(href="#").footer__logo
              img(src="./assets/img/logo-footer.svg", alt="logo")
            .footer__copyright © "Экоешка" 2014-2021 <br> Все права защищены.
        .footer__col
          .footer-menu
            .footer__title Меню
            ul.footer-menu__list
              li.footer-menu__item
                a(href="#production").footer-menu__link О маслах
              li.footer-menu__item
                a(href="#advantages").footer-menu__link Виды масел
              li.footer-menu__item
                a(href="#who").footer-menu__link Кому подойдет
              li.footer-menu__item
                a(href="#order").footer-menu__link Заказать
              li.footer-menu__item
                a(href="#vs").footer-menu__link Обычное масло VS экоешка
        .footer__col
          .footer-contacts
            .footer__title Связаться с нами
            .footer-contacts__body
              .footer-contacts__item Тел:
                a(href="tel:7-962-453-99-92").footer-contacts__link +7-962-453-99-92
              .footer-contacts__item Почта:
                a(href="mailto:ab@promikz.ru").footer-contacts__link ab@promikz.ru
              .footer-contacts__item Адрес: Ставропольский край, <br> Минераловодский район, <br> пос. Загорский, ул. Солнечная 26.
        .footer__col
          a(href="#").footer__title.footer__link Лицензии
      .footer__btn-top.eko-btn-top
        .eko-btn-top__wrap
          .eko-btn-top__inner
            .eko-btn-top__arrow
        .eko-btn-top__text Вернуться к началу
          

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
script(src="./assets/js/vendor/slick.min.js") 
script(src="assets/js/app.min.js")