include ../components/banner-top.pug
- var items = [{text: 'Продукция', link: '#production'}, {text: 'Преимущества ', link: '#advantages'}, {text: 'Заказать', link: '#order'}, {text: 'Конаткты', link: '#contacts'}];
header.header(data-aos="show-anim" data-aos-delay="500" data-aos-duration="1000")
  .container
    .container__header
      .header__body
        a(href="#").header__logo
          svg
            use(xlink:href="./assets/img/logo-base.svg#logo-svg")
        nav.header-menu.header-menu--desktop
          each item in items
            a(href=item.link).header-menu__link.eko__anchor=item.text
        a(href="tel:79020321454").header__phone
  .header-menu--mobile-wrapper
    .header-menu--mobile
      .header-menu__header
        a(href="#").header-menu__logo
          svg
            use(xlink:href="./assets/img/logo-base.svg#logo-svg")
      nav.header-menu
        each item in items
          li.header-menu__list
            a(href=item.link).header-menu__link.eko__anchor=item.text
      .header-menu__footer
        a(href="tel:79020321454").header__phone
