.section-form {
  background: #F9F9F9;
  margin-bottom: -100px;
  padding: 7.625rem 0 16.5rem 0;
  &__title {
    margin-bottom: 1rem;
  }
  &__desc {
    margin: 0 0 3.75rem 0;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 140%;
    text-align: center;
    color: #5E5E5E;
  }
  &-item {
    &__wrapper {
      &-submit {
        position: relative;
        .section-form-item__inner {
          position: relative;
          &:after {
            position: absolute;
            right: 21px;
            top: 18px;
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background: url('right-arrow.svg') center center/cover no-repeat;
            margin-left: 32px;
          }
        }
        .eko__btn {
          &:after {
            display: none;
          }
        }
        .wpcf7-spinner {
          margin-top: 3px;
        }
      }
    }
    &-elements {
      display: flex;
      margin-bottom: 1rem;
    }
    &__input {
      border: 1px solid #A2B084;
      padding-left: 15px;
      width: 274px;
      height: 54px;
      font-size: 14px;
      line-height: 134.8%;
      outline: none;
      color: rgba(162,176,132, .7);
      &-wrap {
        display: block;
        margin-right: 12px;
        position: relative;
      }
      &-label {
        font-size: 14px;
        line-height: 134.8%;
        position: absolute;
        transform: translateY(18px);
        top: 0;
        left: 16px;
        color: rgba(162,176,132, .7);
        cursor: text;
        transition: transform .3s ease-out;
        z-index: 1;
        &.active {
          transform: translateY(-24px) scale(.95);
        }
      }
    }
    &__text {
      margin: 0 0 4.313rem 0;
      text-align: center;
      font-size: 14px;
      line-height: 134.8%;
      color: rgba(0,0,0, .5);
    }
    &__label {
      display: flex;
      justify-content: center;
      align-items: center;
      &-inner {
        margin-right: 10px;
      }
      &-text {
        font-size: 0.938rem;
        line-height: 134.8%;
        color: #5E5E5E;
      }
      &-item {
        //display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border: 1px solid #A2B084;
        cursor: pointer;
        &:before {
          content: '';
          background: url('check.svg');
          width: 16px;
          height: 13px;
          opacity: 0;
          transition: opacity .3s ease;
        }
      }
    }
    //&__checkbox {
    //  display: none;
    //}
    &__checkbox:checked + &__label-item {
      &:before {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: $desktopWidthMedia) {
    padding: 4.625rem 0 5.5rem 0;
    margin-bottom: 0;
    &__desc {
      margin: 0 0 2.75rem 0;
    }
    &__title {
      font-size: 45px;
    }
    &-item {
      &-elements {
        flex-wrap: wrap;
        max-width: 477px;
        margin: 0 auto
      }
      &__wrapper {
        margin: 0 0 30px 0;
        flex-basis: 50%;
        &-submit {
          .section-form-item__inner {
            width: 217px;
          }
        }
      }
      &__input {
        margin-left: 0;
        width: 217px;
        display: block;
        margin: 0 auto;
        &-label {
          left: 24px;
        }
      }
      &__submit {
        margin: 0 auto;
        width: 217px;
        height: 54px;
        margin-left: 0;
        &:after {
          margin-left: 47px;
        }
      }
      &__text {
        margin: 0 0 1.313rem 0;
      }
    }
  }
  @media screen and (max-width: $mobileWidthMedia) {
    &__title {
      font-size: 27px;
      text-align: center;
    }
    &-item {
      &__wrapper {
        flex-basis: 100%;
        &-submit {
          .section-form-item__inner {
            margin: 0 auto;
          }
          .wpcf7-spinner {
            position: absolute;
            left: calc(50% - 10px);
            top: 100%;
            margin-top: 3px;
            transform: translateX(-100%);
          }
        }
      }
      &__input {
        &-wrap {
          width: 217px;
          margin: 0 auto;
          // display: flex;
        }
      }
      &__submit {
        margin: 0 auto;
        font-size: 16px;
        padding-left: 45px;
      }
    }
  }


  // cf7
  .wpcf7-list {
    &-item {
      &-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border: 1px solid #A2B084;
        cursor: pointer;
        font-size: 0;
        &:before {
          content: '';
          background: url('check.svg');
          width: 16px;
          height: 13px;
          opacity: 0;
          transition: opacity .3s ease;
        }
        &:after {
          display: none;
        }
      }
      input {
        display: none;
        &:checked + span {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  .wpcf7-not-valid {
    & + .wpcf7-not-valid-tip {
      margin-top: 10px;
      @media screen and (min-width: 576px) {
        font-size: 14px;
      }
    }
  }
  .wpcf7-checkbox {
    &.wpcf7-not-valid + .wpcf7-not-valid-tip {
      display: none;
    }
    &.wpcf7-not-valid {
      .wpcf7-list-item-label {
        border-color: red;
      }
    }
  }
}