.presentation {
  &__content {
    &-wrap {
      margin-top: 9.563rem;
      padding-bottom: 6.25rem;
    }
  }
  &-item {
    margin-bottom: 3.125rem;
    display: flex;
    align-items: center;
    &__elem {
      flex-basis: 50%;
    }
    &__img {
      min-width: 400px;
      margin-right: 6.25rem;
    }
    &__desc {
      .container > h2 {
        font-family: 'Cormorant';
        margin: 1.25rem 0 1.25rem 0;
        font-weight: 500;
        font-size: 2.938rem;
        line-height: 98%;
        color: $baseColorText;
        span {
          font-family: 'Cormorant-italic';
          color: #E6AC4D;
        }
      }

    }
    &-text {
      p {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 140%;
        color: $baseColorText;
        margin-bottom: 1.125rem;
      }
    }
    &:first-child {
      .presentation {
        &-item {
          &__img {
            margin-top: -73px;
          }
        }
      }
    }
    &--two {
      margin: 6.25rem 0 9.375rem;
      .presentation {
        &-item {
          &__img {
            margin-left: 20px;
            margin-right: 0;
            order: 2;
          }
        }
      }
    }
  }
  @media screen and (max-width: $desktopWidthMedia) {
    &-item {
      &__desc {
        .container > h2 {
          font-size: 2.238rem;
        }

      }
      &__img {
        margin-right: 3.25rem;
      }
      &-text {
        p {
          font-size: 1rem;
          br {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 830px) {
    &-item {
      display: block;
      &__img {
        min-width: auto;
        margin: 0 auto !important;
        img {
          margin: 0 auto !important;
        }
      }
      &__desc {
        text-align: center;
      }
      &-text {
        p {
          br {
            display: block;
          }
        }
      }
    }
  }
  @media screen and (max-width: $laptopWidthMedia) {
    &__content {
      &-wrap {
        margin-top: 4.563rem;
        padding-bottom: 0.25rem;
      }
    }
    &-item {
      &--two {
        margin: 1.25rem 0 4.375rem;
      }
    }
    &__subtitle {
      br {
        display: none;
      }
    }
  }
  @media screen and (max-width: $mobileWidthMedia) {
    &__content-wrap > .container {
      padding: 0;
    }
    &-item {
      &__desc {
        text-align: left;
        .container > h2 {
          font-size: 27px;
        }
      }
      &-text {
        overflow: hidden;
        p {
          font-size: 15px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      &__read-more {
        margin-top: 1rem;
        font-weight: 500;
        font-size: 1.25rem;
        text-decoration-line: underline;
        color: #E6AC4D;
        cursor: pointer;
        transition: color .5s ease;
        &:hover {
          color: #DA9F3C;
        }
        &.readed {
          visibility: hidden;
        }
      }
    }
  }
  @media screen and (min-width: $mobileWidthMedia + 1) {
    &-item {
      &__read-more {
        display: none;
      }
    }
  }
}