.target-audience {
  padding: 0 0 200px 0;
  &__inner {
    padding: 0 53px;
  }
  &__body {
    background: #A2B084;
  }
  &__content {
    display: flex;
    padding: 0 0 90px 0;
  }
  &-text {
    flex-basis: 52%;
    padding-left: 3%;
  }
  &-images {
    padding-top: 65px;
    flex-basis: 48%;
    display: flex;
    justify-content: flex-end;
    &__item {
      &--bottom {
        position: absolute;
        bottom: -30%;
        left: 0;
        transform: translate(-65%, 0);
      }
    }
    &__inner {
      position: relative;
    }
  }
  &__title {
    margin-top: 6.25rem;
    font-family: 'Cormorant';
    font-weight: 400;
    font-size: 3.25rem;
    margin-bottom: 3.25rem;
    line-height: 116.8%;
    text-align: center;
    color: #FFFFFF;
  }
  &-list {
    list-style-type: none;
    &-wrap {
      margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      font-family: 'Cormorant-italic';
      font-weight: 500;
      font-size: 1.563rem;
      line-height: 105.8%;
      color: #FFFFFF;
      &:before {
        margin-right: 21px;
        content: '';
        width: 14px;
        height: 1px;
        border: 1px solid white;
        display: block;
      }
      span {
        font-weight: 600;
        color: #4E5C3F;
      }
    }
  }
  @media screen and (max-width: 1400px) {
    &__title {
      margin-bottom: 2.25rem;
    }
    &-images {
      &__item {
        max-width: 320px;
        &--bottom {
          bottom: 0;
        }
      }
    }
  }
  @media screen and (max-width: 1300px) {
    &-text {
      flex-basis: 70%;
    }
    &-images {
      flex-basis: 45%;
      &__item {
        &--bottom {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: $desktopWidthMedia) {
    padding-bottom: 50px;
    &__title {
      font-size: 2.438rem;
      margin-bottom: 3.25rem;
    }
    &-images {
      display: none;
    }
    &-text {
      flex-basis: 100%;
    }
    &-list-wrap,
    &__logo {
      margin: 0 auto;
      max-width: 700px;
    }
    &-list-wrap {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: $laptopWidthMedia) {
    &__inner {
      padding: 0;
    }
  }
  @media screen and (max-width: $mobileWidthMedia) {
    & > .container,
    &__body > .container {
      padding: 0;
    }
    &__logo {
      display: none;
    }
    &__content {
      padding-bottom: 20px;
    }
    &__title {
      margin-top: 5.25rem;
    }
    &-text {
      padding: 0;
    }
  }
  @media screen and (min-width: $mobileWidthMedia + 1) {
    &-text > .container {
      padding: 0;
    }
  }
}