.type-oils {
  padding: 3.438rem 0 13rem 0;
  overflow: hidden;
  &__title {
    margin-bottom: 9.375rem;
  }
  &-list {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 9.375rem;
      &:nth-child(2n) {
        .type-oils {
          &-list {
            &-item {
              &__img {
                order: 2;
              }
            }
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &__img {
        filter: drop-shadow(-10px 5px 50px rgba(83, 56, 32, 0.26));
      }
      &-text {
        &__title {
          display: flex;
          align-items: center;
          &-logo {
            display: inline-block;
            margin-left: 30px;
            vertical-align: middle;
            max-width: 194px;
            svg {
              max-width: 100%;
              max-height: 55px;
              fill: #5E5E5E;
              opacity: 0.3;
            }
          }
        }
        h2 {
          margin: 0;
          font-family: 'Cormorant';
          font-weight: 300;
          font-size: 3rem;
          line-height: 87%;
          color: #5E5E5E;
          span {
            font-family: 'Cormorant-italic';
            color: #E6AC4D;
          }
        }
        &__desc {
          p {
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 140%;
            color: #5E5E5E;
            margin-bottom: 1rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
          margin-bottom: 2rem;
        }
        &__price {
          margin-right: 2.5rem;
          font-family: 'Cormorant-italic';
          font-size: 2.25rem;
          line-height: 105.8%;
          color: #5E5E5E;
        }
        &-footer {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  @media screen and (max-width: $desktopWidthMedia) {
    padding: 4.438rem 0 2rem 0;
    &__title {
      margin-bottom: 3.375rem;
    }
    &-list {
      &-item {
        margin-bottom: 1.375rem;
        &-text {
          &__desc {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 834px) {
    &-list {
      &-item {
        flex-wrap: wrap;
        justify-content: center;
        &-text {
          text-align: center;
          &-footer {
            justify-content: center;
          }
        }
        &__img {
          width: 100%;
          img {
            margin: 0 auto;
          }
        }
        &:nth-child(2n) &__img {
          order: 0;
        }
      }
    }
  }
  @media screen and (max-width: $laptopWidthMedia) {
    &-list {
      &-item {
        &-text {
          &__title-logo {
            max-width: 140px;
          }
        }
      }
    }
  }
  @media screen and (max-width: $mobileWidthMedia) {
    &__title {
      text-align: center;
    }
    &-list {
      &-item {
        margin-bottom: 50px;
        &-text {
          max-width: 400px;
          h2 {
            font-size: 27px;
          }
          &__title {
            justify-content: center;
          }
          &__title-logo {
            display: none;
          }
          &-footer {
            flex-wrap: wrap;
          }
          &__price {
            width: 100%;
            margin-bottom: 26px;
          }
          &__desc {
            p {
              font-size: 15px;
            }
            br {
              display: none;
            }
          }
        }
        &__img {
          margin-bottom: 30px;
          img {
            filter: drop-shadow(-10px 5px 50px rgba(83, 56, 32, 0.26));
          }
        }
      }
    }
  }
  @media screen and (max-width: 414px) {
    .container {
      padding: 0 15px;
    }
    &-list {
      &-item {
        &-text {
          text-align: left;
          &__title {
            justify-content: flex-start;
          }
          &__title-logo {
            margin-left: 10px;
          }
          &__desc {
            br {
              display: none;
            }
          }
          &-footer {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}