.eko {
  &__btn {
    padding-left: 44px;
    display: flex;
    align-items: center;
    background: #E6AC4D;
    color: white;
    width: 193px;
    height: 54px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    &:after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url('right-arrow.svg') center center/cover no-repeat;
      margin-left: 32px;
    }
    &--long {
      width: 224px;
      padding-left: 20px;
      &:after {
        margin-left: 26px;
      }
    }
  }
}