*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat';
}
img,
picture {
  max-width: 100%;
  display: block;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}
// ДЛЯ ОТКЛЮЧЕНИЕ ОКРАШИВАНИЯ ИНПУТОВ ПРИ АВТОЗАПОЛНЕНИИ
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}


.container {
  max-width: $deskContainerWidth;
  padding: 0 1.5rem;
  margin: 0 auto;
  &__header {
    padding: 0 2.188rem;
  }
  &__content {
    max-width: 1450px;
  }
}
.eko {
  &__section {
    padding: 2.813rem 0;
  }
  &__title {
    font-family: 'Cormorant';
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 100%;
    text-align: center;
    color: $baseColorText;
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 134.8%;
    text-align: center;
    color: $baseColorText;
  }
  &__content {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.lock {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: $containerHeaderMedia) {
  html {
    font-size: 15px;
  }
  .container {
    &__header {
      padding: 0;
    }
  }
}
@media screen and (max-width: $laptopWidthMedia) {
  .eko {
    &__title {
      font-size: 2.813rem;
    }
  }
}

@media screen and (max-width: $mobileWidthMedia) {
  html {
    font-size: 12px;
  }
  .eko {
    &__title, &__subtitle {
      text-align: left;
    }
    &__title {
      font-size: 29px;
    }
  }
}