.banner-top(data-aos="show-anim" data-aos-duration="1000")
  .container
    .container__header
      .banner-top__inner
        a(href="/").banner-top__logo
          img(src="./assets/img/logo-banner.svg", alt="logo banner")
        .banner-top__text Производство и продажа экологически чистых растительных масел
        .banner-top__burger
          span