.banner-top
  .container
    .container__header
      .banner-top__inner
        a(href="/").banner-top__logo
          img(src="./assets/img/logo-banner.svg", alt="logo banner")
        .banner-top__text Производство и продажа экологически чистых растительных масел