section.eko__section.contacts#contacts(data-aos="show-anim" data-aos-duration="1500")
  .contacts__images
    .contacts__img.contacts__img--left(style="background-image: url('./assets/img/contacts/brains.png')")
    .contacts__img.contacts__img--right(style="background-image: url('./assets/img/contacts/oils.png')")
  .container
    .contacts__content
      h2.eko__title.contacts__title Наши контакты
      .contacts__row
        .contacts__col
          .contacts-item
            .contacts-item__title Адрес
            .contacts-item__desc
              .contacts-item__text Ставропольский край, <br> Минераловодский район, <br> пос. Загорский, ул. Солнечная 26.
          .contacts-item
            .contacts-item__title Почта
            .contacts-item__desc
              .contacts-item__text 
                a.contacts-item__link(href="mailto:ab@promikz.ru") ab@promikz.ru
        .contacts__col
          .contacts-item
            .contacts-item__title Телефон
            .contacts-item__desc
              .contacts-item__text
                a.contacts-item__link(href="tel:+7-962-453-99-92") +7-962-453-99-92
                a.contacts-item__link(href="tel:(87922) 78-998") (87922) 78-998
          .contacts-item
            .contacts-item__title График работы 
            .contacts-item__desc
              .contacts-item__text Пн-Пт  9:00-18:00

