section.eko__section.section-form#order
  .container
    .eko__content
      .section-form__content
        .container.container__content
          h2.eko__title.section-form__title Закажите масло прямо сейчас
          p.section-form__desc Оставьте заявку, мы свяжемся с вами и ответим <br> на все интересующие вопросы.
          form.section-form-item
            .section-form-item-elements
              .section-form-item__wrapper
                label.section-form-item__input-wrap
                  .section-form-item__input-label Введите E-mail
                  input(type="email").section-form-item__input
              .section-form-item__wrapper
                label.section-form-item__input-wrap
                  .section-form-item__input-label Введите имя
                  input(type="text").section-form-item__input
              .section-form-item__wrapper
                label.section-form-item__input-wrap
                  .section-form-item__input-label Введите телефон
                  input(type="phone").section-form-item__input
              .section-form-item__wrapper
                button(type="submit").eko__btn.section-form-item__submit Заказать
            p.section-form-item__text Заказ от 1 ящика (12 бутылок). В ящике могут быть разные масла.
            label.section-form-item__label
              .section-form-item__label-inner
                input(type="checkbox").section-form-item__checkbox
                span.section-form-item__label-item
              .section-form-item__label-text Даю согласие на обработку персональных данных
