section.main-slider
  .container
    .main-slider__inner
      #main-slider.main-slider__content
        - var count = ['', '', '', ''];
        each item in count
          .main-slider__item(style="background: url('./assets/img/main-slider/1.png') center center/cover no-repeat;")
            .main-slider__container
              h2.main-slider__title Откройте для себя новый <br> мир из <span>натурального</span> масла
              p.main-slider__text Порадуйте себя и близких натуральным растительным маслом, <br> произведенным в эколого-курортном регионе РФ <br> Кавказкие Минеральные Воды.
              a(href="#").eko__btn.main-slider__order Заказать
      .main-slider-controlls.main-slider__container
        .main-slider__arrows
        .main-slider__dots
        .main-slider__count
          #count-start.main-slider__count-el 01
          .main-slider__count-el.main-slider__count-separator /
          #count-end.main-slider__count-el 04