section.eko__section.main-slider(data-aos="show-anim" data-aos-delay="1000" data-aos-duration="1000")
  .container
    .main-slider__inner
      #main-slider.main-slider__content
        - var count = ['', '', '', ''];
        each item in count
          .main-slider__item(style="background: url('./assets/img/main-slider/1.jpg') center center/cover no-repeat;")
            .main-slider__container
              h2 Откройте для себя новый <br> мир из <span>натурального</span> масла
              p Порадуйте себя и близких натуральным растительным маслом, <br> произведенным в эколого-курортном регионе РФ <br> Кавказкие Минеральные Воды.
              a(href="#order").eko__btn.main-slider__order.eko__anchor Заказать
      .main-slider-controlls.main-slider__container
        .main-slider__arrows
        .main-slider__dots
        .main-slider__count
          #count-start.main-slider__count-el 01
          .main-slider__count-el.main-slider__count-separator /
          #count-end.main-slider__count-el 04