section.eko__section.presentation
  .presentation__body
    .container
      h2.eko__title.presentation__title Познакомьтесь с нашим <br> свежим маслом первого отжима
      p.eko__subtitle.presentation__subtitle Каждое из растительных масел нашей линейки имеет свои неповторимые <br> особенности, свой аромат, вкус и цвет. Все масла являются гипоаллергенными.
    .presentation__content-wrap
      .container.container__content
        .presentation__content
          .presentation-item
            .presentation-item__elem.presentation-item__img
              img(src="./assets/img/presentation/1.png", alt="")
            .presentation-item__elem.presentation-item__desc
              .container
                p.presentation-item__title 100% <span>натуральный</span> продукт
                .presentation-item-text
                  p.presentation-item-text__block Без консервантов и добавок. Мы не <br> смешиваем наше масло с более дешевыми <br> маслами. Натуральный 100%-й продукт. <br> Наша продукция не содержит генетически <br> модифицированных организмов и веществ <br> (ГМО), является экологически чистой.
                  p.presentation-item-text__block Масло не подвергается гидратации и <br> рафинации, оно просто отстаивается. Поэтому в <br> масле присутствует естественный осадок.
                .presentation-item__read-more Читать полностью
          .presentation-item.presentation-item--two
            .presentation-item__elem.presentation-item__img
              img(src="./assets/img/presentation/2.png", alt="")
            .presentation-item__elem.presentation-item__desc
              .container
                p.presentation-item__title Сохраняем все <br> <span>витамины и минералы</span>
                .presentation-item-text
                  p.presentation-item-text__block Благодаря уникальной технологии: Маслосемена перед <br> отжимом прогреваются паром до температуры 60 <br> градусов, что исключает возможность выделения <br> канцерогенных веществ, как это происходит при <br> жарке при температуре свыше 100 градусов, сохраняя <br> максимально большое количество витаминов, <br> микроэлементов и особый приятный аромат.
                  p.presentation-item-text__block Отжим масла производиться методом прессования. <br> Не подвергается рафинации, которая значительно <br> снижает качество, а значит и биологическую ценность <br> продукта для организма человека.
                .presentation-item__read-more Читать полностью
          .presentation-item.presentation-item--three
            .presentation-item__elem.presentation-item__img
              img(src="./assets/img/presentation/3.png", alt="")
            .presentation-item__elem.presentation-item__desc
              .container
                p.presentation-item__title Строгий контроль <br> <span>качества</span> входящего сырья
                .presentation-item-text
                  p.presentation-item-text__block Мы тщательно подбираем поставщиков, руководствуясь <br> ГОСТ и на основании анализов собственной лаборатории <br> принимаем решение. Приготовлено из семян растений, <br> выращенных в особо охраняемом эколого-курортном <br> регионе РФ Кавказские Минеральные Воды.
                .presentation-item__read-more Читать полностью
