section.eko__section.target-audience#who
  .container
    .target-audience__inner
      .target-audience__body
        .container.container__content
          .target-audience__content
            .target-audience-text
              .container
                .target-audience__title Для кого подойдут наши масла?
                .target-audience-list-wrap
                  ul.target-audience-list
                    li.target-audience-list__item
                      .target-audience-list__item-text Для людей, которые <br> заботятся о своем <span>здоровье</span>
                    li.target-audience-list__item 
                      .target-audience-list__item-text Для <span>пожилых</span> людей
                    li.target-audience-list__item 
                      .target-audience-list__item-text Для девушек, следящих <br> за своей <span>внешностью</span>
                    li.target-audience-list__item 
                      .target-audience-list__item-text Для <span>спортсменов</span>
                  ul.target-audience-list
                    li.target-audience-list__item 
                      .target-audience-list__item-text Для <span>беременных</span> <br> женщини и молодых мам
                    li.target-audience-list__item 
                      .target-audience-list__item-text Для людей, борющихся <br> с <span>лишним весом</span>
                .target-audience__logo
                  img(src="./assets/img/target-audience/logo.svg", alt="logo")
            .target-audience-images
              .target-audience-images__inner
                .target-audience-images__item.target-audience-images__item--top(style="background-image: url('./assets/img/target-audience/1.jpg')")
                .target-audience-images__item.target-audience-images__item--bottom(style="background-image: url('./assets/img/target-audience/2.png')")