section.eko__section.target-audience#who(data-aos="show-anim" data-aos-duration="1500")
  .container
    .target-audience__inner
      .target-audience__body
        .container.container__content
          .target-audience__content
            .target-audience-text
              .container
                .target-audience__title Для кого подойдут наши масла?
                .target-audience-list
                  ul
                    li Для людей, которые <br> заботятся о своем <span>здоровье</span>
                    li Для <span>пожилых</span> людей
                    li Для девушек, следящих <br> за своей <span>внешностью</span>
                    li Для <span>спортсменов</span>
                  ul
                    li Для <span>беременных</span> <br> женщини и молодых мам
                    li Для людей, борющихся <br> с <span>лишним весом</span>
                .target-audience__logo
                  svg
                    use(xlink:href="./assets/img/logo-base.svg#logo-svg")
            .target-audience-images
              .target-audience-images__inner
                .target-audience-images__item.target-audience-images__item--top(style="background-image: url('./assets/img/target-audience/1.jpg')")
                .target-audience-images__item.target-audience-images__item--bottom(style="background-image: url('./assets/img/target-audience/2.png')")