section.eko__section.type-oils#advantages(data-aos="show-anim" data-aos-duration="1500")
  .container
    .eko__content
      h2.eko__title.type-oils__title Виды масел
      .type-oils__content
        ul.type-oils-list
          li.type-oils-list-item(data-aos="fade-right" data-aos-duration="1000")
            .type-oils-list-item__img
              picture
                source(srcset="./assets/img/oils/1.png" media="(min-width: 1201px)")
                source(srcset="./assets/img/oils/1_mobile.png" media="(max-width: 575px)")
                source(srcset="./assets/img/oils/1_laptop.png" media="(max-width: 1200px)")
                img(srcset="./assets/img/oils/1.png", alt="")
            .type-oils-list-item-text
              .type-oils-list-item-text__title <span>Подсолнечное</span> масло
                .type-oils-list-item-text__title-logo
                  svg
                    use(xlink:href="./assets/img/logo-base.svg#logo-svg")
              .type-oils-list-item-text__desc
                p Наше подсолнечное масло имеет насыщенный <br> вкус и аромат. Мы выбираем только лучшие <br> семена подсолнечника. 
                p Оно универсально. Это идеальный продукт <br> для приготовления холодных блюд и салатов. <br> Нерафинированное масло сохраняет в себе <br> фосфолипиды, каротин, витамины E, F (читайте <br> также в каких продуктах содержится витамин F).
              .type-oils-list-item-text-footer
                .type-oils-list-item-text__price Цена 150 руб
                a(href="#order").eko__btn.eko__btn--long.type-oils-list-item-text__btn.eko__anchor Я хочу это масло
          li.type-oils-list-item(data-aos="fade-left" data-aos-duration="1000")
            .type-oils-list-item__img
              picture
                source(srcset="./assets/img/oils/2.png" media="(min-width: 1201px)")
                source(srcset="./assets/img/oils/2_mobile.png" media="(max-width: 575px)")
                source(srcset="./assets/img/oils/2_laptop.png" media="(max-width: 1200px)")
                img(srcset="./assets/img/oils/2.png", alt="")
            .type-oils-list-item-text
              .type-oils-list-item-text__title <span>Соевое</span> масло
                .type-oils-list-item-text__title-logo
                  svg
                    use(xlink:href="./assets/img/logo-base.svg#logo-svg")
              .type-oils-list-item-text__desc
                p Мы закупаем сою на юге России. Соя <br> натуральный продукт, не содержит ГМО. 
                p В отличие от подсолнечного и кукурузного, наше <br> соевое масло не имеет ярко выраженного запаха <br> и вкуса. Если вам не нравится посторонний привкус, <br> когда вы готовите продукт - это масло для вас!
              .type-oils-list-item-text-footer
                .type-oils-list-item-text__price Цена 150 руб
                a(href="#order").eko__btn.eko__btn--long.type-oils-list-item-text__btn.eko__anchor Я хочу это масло
          li.type-oils-list-item(data-aos="fade-right" data-aos-duration="1000")
            .type-oils-list-item__img
              picture
                source(srcset="./assets/img/oils/3.png" media="(min-width: 1201px)")
                source(srcset="./assets/img/oils/3_mobile.png" media="(max-width: 575px)")
                source(srcset="./assets/img/oils/3_laptop.png" media="(max-width: 1200px)")
                img(srcset="./assets/img/oils/3.png", alt="")
            .type-oils-list-item-text
              .type-oils-list-item-text__title <span>Кукурузное</span> масло
                .type-oils-list-item-text__title-logo
                  svg
                    use(xlink:href="./assets/img/logo-base.svg#logo-svg")
              .type-oils-list-item-text__desc
                p Наше подсолнечное масло имеет насыщенный <br> вкус и аромат. Мы выбираем только лучшие <br> семена подсолнечника. 
                p Оно универсально. Это идеальный продукт <br> для приготовления холодных блюд и салатов. <br> Нерафинированное масло сохраняет в себе <br> фосфолипиды, каротин, витамины E, F (читайте <br> также в каких продуктах содержится витамин F).
              .type-oils-list-item-text-footer
                .type-oils-list-item-text__price Цена 150 руб
                a(href="#order").eko__btn.eko__btn--long.type-oils-list-item-text__btn.eko__anchor Я хочу это масло